@using BookCatalog.Portal.Helpers.Extentions;
@using BookCatalog.Portal.Helpers.KnownValues;

<form id="frmBookDetails" onsubmit="return false" data-bind="fadeVisible: IsVisible">
    <div class="form-row border">
        <div class="col-md-4">
            <div class="form-group">
                <label for="txtTitle">Title</label>
                <input type="text" id="txtTitle" class="form-control" data-bind="value: Title">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="txtReleaseDate">Release Date</label>
                <input id="txtReleaseDate" dom-role="datepicker" data-bind="value: ReleaseDate" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="drpRanking">Ranking</label>
                <select class="form-control" id="drpRanking" data-bind="value: Ranking, options: RankingRange, optionsCaption: ''"></select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="txtPageCount">Pages</label>
                <input type="text" class="form-control" id="txtPageCount" data-bind="value: PageCount">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="drpAuthors">Authors</label>
                <div>
                    <select dom-role="multiselect" id="drpAuthors" multiple="multiple" class="form-control" placeholder="None selected"
                            data-bind="selectedOptions: SelectedAuthors,
                            options: Authors,
                            optionsText: function(item){
                                return item.FirstName() + ' ' + item.LastName();
                            },
                            optionsValue: 'Id'">                        
                    </select>                
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row row-align">
                <div class="col">
                    <div class="form-group">
                    </div>
                </div>
            </div>
            <div class="row row-align">
                <div class="col">
                    <div class="form-group">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.ButtonGlyphicon("Save", Glyphicon.Save, new { id = "btnSave", @class = "btn btn-outline-primary form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row row-align">
                <div class="col">
                    <div class="form-group">
                    </div>
                </div>
            </div>
            <div class="row row-align">
                <div class="col">
                    <div class="form-group">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.ButtonGlyphicon("Cancel", Glyphicon.Cancel, new { id = "btnCancel", @class = "btn btn-outline-info form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    BookDetails.Initialize();
</script>