@using BookCatalog.Portal.Helpers.Extentions
@using BookCatalog.Portal.Helpers.KnownValues

@System.Web.Optimization.Scripts.Render("~/bundles/scripts/books")

<p>
    @Html.ButtonGlyphicon("New book", Glyphicon.Add, new { id = "btnAdd", @class = "btn btn-outline-success" })
</p>
<p>
    @Html.Partial("_Details")
</p>
<table id="tblBooks" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

<script>
    NavMenu.Activate(NavMenu.ITEMS.Books);
    BookList.Initialize();
</script>
