<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <ul>
            <li>@Html.ActionLink("Books", "List", "Books")</li>
            <li>@Html.ActionLink("Authors", "List", "Authors")</li>
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
