.bg-blink{
    background-color: #e3f2fd;
}

.alert{
    top: 15em;
    left: 35%;
    width: 35%;
}

.table {
    border-spacing: 0;
}

.table th,
.table td{
    padding: 0.5rem;
}

.table .btn-toolbar{
    width: 96px;
}

.table .btn-toolbar .btn:not(:last-child){
    margin-right: 0.25rem;
}

@media(max-width:768px) {
    .row-align {
        display: none;
    }
}

.form-control.is-invalid ~ .input-group-append > .btn{
    border-top-color: #dc3545;
    border-right-color: #dc3545;
    border-bottom-color: #dc3545;
}

[role='wrapper'].gj-datepicker .input-group-append > .btn{
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}