<script id="alertError" type="text/html">
    <div class="alert alert-danger alert-dismissible fade show position-fixed" role="alert">
        <h5 class="alert-heading">Error!</h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</script>
