@using BookCatalog.Portal.Helpers.Extentions
@using BookCatalog.Portal.Helpers.KnownValues

@System.Web.Optimization.Scripts.Render("~/bundles/scripts/authors")

<p>
    @Html.ActionGlyphiconLink("New author", Glyphicon.Add, "Create", new { @class = "btn btn-outline-success", role = "button" })
</p>
<table id="tblAuthors" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script>
    NavMenu.Activate(NavMenu.ITEMS.Authors);
    AuthorList.Initialize();
</script>